@import "tailwindcss";

:root {
  --color-primary-green: #2E744B;
  --color-primary-green-dark: #1E5033;
  --color-primary-green-light: #3A8F5E;
  --color-graphite: #1E1E1E;
  --color-graphite-light: #2A2A2A;
  --color-grey-50: #FAFAFA;
  --color-grey-100: #F5F5F5;
  --color-grey-200: #E5E5E5;
  --color-grey-300: #D4D4D4;
  --color-grey-400: #A3A3A3;
  --color-grey-500: #737373;
  --color-grey-600: #525252;
  --color-white: #FFFFFF;
  
  --section-spacing: 8rem;
  --section-spacing-mobile: 4rem;
  --container-max-width: 1280px;
}

@theme {
  --color-brand-gray: #262626;
  --color-grey-200: #8da794;
  --color-primary-green-dark: #002817;

  --heading-2-size: clamp(40px, 6vw, 80px);
  --heading-3-size: clamp(28px, 2vw, 45px);
}

@utility font-kudriashov {
  font-family: var(--font-kudriashov);
}
@utility font-alexandra {
  font-family: var(--font-alexandra);
}
@utility font-grava {
  font-family: var(--font-grava);
}

@utility heading-2 {
  font-size: var(--heading-2-size);
  line-height: 0.89;
  letter-spacing: -0.01em;
  @apply font-kudriashov text-(--color-grey-50);
}

@utility heading-3 {
  font-weight: bold;
  font-size: var(--heading-3-size);
  line-height: 1;
  letter-spacing: 1;
  @apply font-grava text-(--color-grey-300);
}


@utility first-letter {
  display: inline-block;
  line-height: 1;
  position: relative;
  z-index: 10;
}

.first-letter:first-letter {
  font-family: var(--font-alexandra, inherit);
  font-size: clamp(80px, 12vw, 160px);
  color: var(--first-letter-color, var(--color-primary-green-dark, currentColor));
  line-height: 0.089;
  position: absolute;
  z-index: 20;
}

body {
  color: var(--color-graphite);
  background: var(--color-white);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Small text */
.text-small {
  font-size: 0.875rem;
  line-height: 1.6;
}

/* Large lead text */
.text-lead {
  font-size: 1.375rem;
  line-height: 1.6;
  font-weight: 300;
}


  
  .text-lead {
    font-size: 1.125rem;
  }




